# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/**/build/

# Android Studio / IntelliJ
*.iml
.idea/
captures/
.externalNativeBuild/
.cxx/

# Local machine configuration
local.properties
.kotlin/

# OS
.DS_Store
Thumbs.db

# Logs / reports
*.log
